@using System.Web.UI.WebControls
@model SPDS.Models.CreateAccountViewModel
@{
    ViewBag.Title = "LogIn";
}
<div class="content">

    <div class="login">
        <h1>LOG IN</h1>
        <div class="heading">

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true, "Login failed. Check your login credentials.")

                @Html.TextBoxFor(model => model._Email, new { autofocus = "", @class = "inputStyle" , placeholder = "Enter Email" })
                @Html.ValidationMessageFor(model  => model._Email)
   
                @Html.PasswordFor(model => model._Pass, new { @class = "inputStyle", placeholder="Enter Password" })
                @Html.ValidationMessageFor(model => model._Pass)
        
                <div class="btns">
                    <button type="submit" class="submitBtn">Login</button>
                    <div class="forgotBtn">@Html.ActionLink("Forgot Password?", "ForgotPass", "Account")</div>
                    <div class="createTxt">Not a member yet?</div>
                    <div class="createLink">@Html.ActionLink("Create account", "createAccount", "Account")</div>
                </div>
            }
        </div>
    </div>
</div>


